<ion-view title="99Champagne" hide-nav-bar="true" id="page9" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <img src="img/ovefD7eJSwmD1Bzwrt1X_99Champagne-eataly.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <center>

                Testo Extra
            </center>
        </div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <div><cente>
            <table>

                <tbody>
                    <tr>
                        <td>
                            <center>
                                <b>99 MAISON</b>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>40 Bio - 30 Distinte</center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <b>503 CUVEE</b>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>10 Qualità/Prezzo - 90 Coupre - 83 Tappo</center>
                        </td>

                    </tr>
                </tbody>
            </table></center>
        </div>
        <div class="spacer" style="width: 300px; height: 85px;"></div>
        <button  ui-sref="menu.hOME" class=" button button-dark  button-block button-outline ">Login</button>
        <a ui-sref="registrazione" id="99Champagne-button14" class=" button button-dark  button-block button-outline ">Register</a>
    </ion-content>
</ion-view>