<ion-view title="HOME" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
      <ion-refresher
        pulling-text="Refresh..."
        on-refresh="">
      </ion-refresher>
        <div>
            <table>
                <tbody>
                    <tr style="border:2px">
                        <td>
                            <h3>
                                <b>Titolo News</b>
                            </h3>
                            <b>
                                <p style="size:13px">Nome Autore - dd/mm/aaaa</p>
                            </b>
                            Testo dell'articolo pippo pluto e paperino ciao ciaocia caiosdjasodasjndaosdna oniodnasodnas onsdinaiosn ado...View More
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div>
            <table>
                <tbody>
                    <tr style="border:2px">
                        <td>
                            <h3>
                                <b>Nome Maison</b>
                            </h3>
                            <b>
                                <p style="size:13px">Tipologia</p>
                            </b>
                            SUPERFICIE - CUVEE
                        </td>
                        <td>

                            <img src="">
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div>
            <table>
                <tbody>
                    <tr style="border:2px">
                        <td>
                            <h3>
                                <b>Nome Cuvée</b>
                            </h3>
                            <b>
                                <p style="size:13px">Nome Maison</p>
                            </b>
                            TIPO
                        </td>
                        <td>

                            <img src="">
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div>
            <table>
                <tbody>
                    <tr style="border:2px">
                        <td>
                            <h3>
                                <b>Video News</b>
                            </h3>
                            <b>
                                <p style="size:13px">Nome Autore - dd/mm/aaaa</p>
                            </b>
                            Testo dell'articolo pippo pluto e paperino ciao ciaocia caiosdjasodasjndaosdna oniodnasodnas onsdinaiosn ado...View More
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <div>
            <table>
                <tbody>
                    <tr style="border:2px">
                        <td>
                            <h3>
                                <b>Locale News</b>
                            </h3>
                            <b>
                                <p style="size:13px">Nome Autore - dd/mm/aaaa</p>
                            </b>
                            Testo dell'articolo pippo pluto e paperino ciao ciaocia caiosdjasodasjndaosdna oniodnasodnas onsdinaiosn ado...View More
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ion-content>
</ion-view>
