<ion-view title="Mappe" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="iLOCALI-button-bar2" class=" button-bar ">
            <button id="iLOCALI-button5" class=" button button-dark button-small button-block button-outline " ng-click="champagne()">Mappa
                <br>della Champagne</button>
            <button id="iLOCALI-button7" class=" button button-dark button-small button-block button-outline " ng-click="localize()">Mappa dei
                <br>Locali</button>
        </div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
