<ion-view title="LE CHAMPAGNE" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="lECHAMPAGNE-button-bar3" class=" button-bar ">
            <button id="lECHAMPAGNE-button8" class=" button button-dark button-small button-block button-outline ">Mappa
                <br>della Champagne</button>
            <button id="lECHAMPAGNE-button9" class=" button button-dark button-small button-block button-outline " ng-click="localize()">Mappa dei
                <br>Locali</button>
        </div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
