<ion-view title="Page" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <center>
            <img src="img/KOINgdnuSbCsL4Bnmh2k_99 Champagne.jpg" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </center>
        </div>
        <div class="spacer" style="width: 300px; height: 41px;"></div>
        <center>
            <b>
                <p id="page-markdown1" style="color:#000000;" class=" ">Applicazione iOS e Android 99 Champagne</p>
            </b>
        </center>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <br><br><br>
        <div class="">
            <img src="img/TD1FnG8lTzohxuOIXVPP_ZW4QC.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="page-button-bar1" class=" button-bar ">
            <a ui-sref="side-menu21.logo" id="page-button1" class=" button button-energized  button-block button-outline ">Login</a>
            <a ui-sref="registrati" id="page-button2" class=" button button-energized  button-block button-outline ">Registrati</a>
            <!--<button id="" class=" button button-energized  button-block button-outline "></button>-->
        </div>
    </ion-content>
</ion-view>