<ion-view title="Login" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form3" class="list ">
            <button id="login-button17" class=" button button-positive  button-block icon ion-social-facebook ">Login with Facebook</button>
            <ion-list id="login-list6" class=" ">
                <label class="item item-input " id="login-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.hOME" id="login-button15" class=" button button-dark  button-block button-outline ">Log in</a>
            <a ui-sref="registrazione" id="login-button16" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>