<ion-view title="NEWS" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="nEWS-heading7" style="color:#000000;text-align:center;" class=" ">Titolo Articolo</h2>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="nEWS-button-bar1" class=" button-bar ">
            <button id="nEWS-button2" style="font-weight:600;font-size:13px;text-align:left;" class=" button button-dark  button-block button-clear ">dd/mm/aaa</button>
            <button id="nEWS-button4" style="font-weight:600;font-style:italic;font-size:13px;text-align:right;" class=" button button-dark  button-block button-clear ">Nome Autore</button>
        </div>
        <div>
            <hr>
        </div>
        <p id="nEWS-markdown18" style="color:#000000;" class=" ">Testo articolo....</p>
    </ion-content>
</ion-view>