<ion-view title="Registrazione" id="page8" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="registrazione-form2" class="list ">
            <button id="registrazione-button11" class=" button button-positive button-small button-block icon ion-social-facebook ">Login with Facebook</button>
            <ion-list id="registrazione-list5" class=" ">
                <label class="item item-input " id="registrazione-input1">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input " id="registrazione-input4">
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input " id="registrazione-input2">
                    <input type="email" placeholder="Email Address">
                </label>
                <label class="item item-input " id="registrazione-input3">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <button id="registrazione-button10" class=" button button-dark  button-block button-outline ">Sign up</button>
        </form>
        <a ui-sref="99Champagne" id="registrazione-button12" style="font-weight:600;font-size:8px;text-align:left;" class=" button button-dark  button-block button-clear ">Have you an account?</a>
    </ion-content>
</ion-view>